<div class="container mt-5">
  <div class="text-center">
      <h3> Welcome to {{ title }}! </h3>
  </div>
<nav class="btn-group d-flex mt-3" role="group">
  <a routerLink="/numbers" routerLinkActive="active" class="btn btn-outline-secondary w-100">Table of Numbers</a>
  <a routerLink="/letters" routerLinkActive="active" class="btn btn-outline-secondary w-100">Table of Letters</a>
</nav>
<router-outlet></router-outlet>
</div>