.table {
    font-size: 16px;
}
@media screen and (min-width:995px) and (max-width:1200px){          
}
@media screen and (min-width:550px) and (max-width:995px){ 
}
@media screen and (min-width:400px) and (max-width:550px){
    .table {
        font-size: 12px;
    }  
}
@media screen and (max-width:400px){
    .table {
        font-size: 12px;
    } 
}